# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Global Sales "

### Tema

In [ ]:
tema = """Vamos a realizar varias predicciones como: Cuanto se vendera de cada producto, 
que genero comprara mas? que producto se vendera mas?""" # Breve descripción del proyecto

Quiero realizar varios modelos para predecir varios problemas, no enfocarme en una target. Pero como principal dato a analizar: El dinero$$$. Aplicar algo de series temporales.

In [ ]:
# Describir el tema en Markdown

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Regresion" # Regresión? Clasificación?
target_descr = "Dinero" # Descripción de la variable objetivo
metricas = ['Rmse','R2','MAPE'] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlaces = ['https://www.kaggle.com/datasets/adarsh0806/influencer-merchandise-sales/data'] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

In [5]:
import pandas as pd

df_1 = pd.read_csv('ML_guide/Merch_processed.csv')

In [6]:
# load dataset
df_1.head()

,Order_ID,Order_Date,Product_ID,Product_Category,Buyer_Gender,Buyer_Age,Order_Location,International_Shipping,Sales_Price,Shipping_Charges,Sales_per_Unit,Quantity,Total_Sales,Rating
0,189440,2024-07-21,BF1543,Clothing,Male,30,New Jersey,No,100,0,100,1,100,4
1,187385,2024-07-20,BF1543,Clothing,Male,32,Las Vegas,No,100,0,100,1,100,3
2,181844,2024-07-21,BF1544,Other,Female,26,Cardiff,Yes,9,40,49,1,49,2
3,197934,2024-08-19,BF1544,Other,Male,28,Pittsburgh,No,9,0,9,2,18,3
4,122470,2024-01-06,BF1545,Other,Female,19,Miami,No,10,0,10,3,30,5

In [ ]:
# load dataset
# df_2.head()