# ANALISIS DE DATOS DEL TITANIC

In [14]:
import pandas as pd
import numpy as np

In [15]:
titanic = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

|Nombre|Descripción |tipo de dato |clasificación de dato |tratamiento |
|---|--- |---- |--- |--- |
|``PassengerId``|  identificador único del pasajero. | | | |
|``Survived``| si el pasajero sobrevivió al naufragio, codificada como 0 (no) y 1 (si). | | | |
|``Pclass``| clase a la que pertenecía el pasajero: 1, 2 o 3. | | | |
|``Name``| nombre del pasajero | | | |
|``Sex``| sexo del pasajero. | | | |
|``Age``| edad del pasajero. | | | |
|``SibSp``|número de hermanos, hermanas, hermanastros o hermanastras en el barco. | | | |
|``Parch``|número de padres e hijos en el barco.| | | |
|``Ticket``|  identificador del billete. | | | |
|``Fare``| precio pagado por el billete. | | | |
|``Cabin``| identificador del camarote asignado al pasajero. | | | |
|``Embarked``| puerto en el que embarcó el pasajero. | | | |

In [16]:
df = titanic.copy()

In [17]:
df.shape

(891, 12)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
(df.isnull().sum() / len(df)) *100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [20]:
df['Age'] = df['Age'].apply(lambda row: row*10//10)

In [22]:
df['Age'].unique()

array([22., 38., 26., 35., nan, 54.,  2., 27., 14.,  4., 58., 20., 39.,
       55., 31., 34., 15., 28.,  8., 19., 40., 66., 42., 21., 18.,  3.,
        7., 49., 29., 65.,  5., 11., 45., 17., 32., 16., 25.,  0., 30.,
       33., 23., 24., 46., 59., 71., 37., 47., 70., 12.,  9., 36., 51.,
       44.,  1., 61., 56., 50., 62., 41., 52., 63., 43., 60., 10., 64.,
       13., 48., 53., 57., 80.,  6., 74.])