# Occupation

### Paso 1. Importar librerias

In [62]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Paso 3. Asígnalo a una variable llamada usuarios.

In [63]:
usuarios = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')

### Paso 4. Descubre cuál es la edad media por ocupación

In [64]:
usuarios.groupby('occupation')['age'].mean().round(2)

occupation
administrator    38.75
artist           31.39
doctor           43.57
educator         42.01
engineer         36.39
entertainment    29.22
executive        38.72
healthcare       41.56
homemaker        32.57
lawyer           36.75
librarian        40.00
marketing        37.62
none             26.56
other            34.52
programmer       33.12
retired          63.07
salesman         35.67
scientist        35.55
student          22.08
technician       33.15
writer           36.31
Name: age, dtype: float64

### Paso 5. Descubra la proporción de Hombres por ocupación y ordénela de mayor a menor

#### Forma 1

In [65]:
usuarios

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [66]:
total = usuarios.groupby('occupation')['user_id'].count()
hom_ocu = usuarios[usuarios['gender'] == 'M'].groupby('occupation')['user_id'].count()
round((hom_ocu / total)*100,2).sort_values(ascending=False)

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
Name: user_id, dtype: float64

#### Forma 2

In [67]:
total = usuarios['occupation'].value_counts()
hombres = usuarios[usuarios['gender'] == 'M']
usuarios_m = hombres['occupation'].value_counts()
proporcion_hombres = usuarios_m / total
round(proporcion_hombres*100,2).sort_values(ascending=False).fillna(0)

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
Name: count, dtype: float64

#### Forma 3

In [82]:
tabla = pd.crosstab(usuarios['occupation'],usuarios['gender'])
propor = (tabla['M'] / ( tabla['M'] + tabla['F']))*100
round(propor.sort_values(ascending=False),2)

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
dtype: float64

### Paso 6. Para cada ocupación, calcule las edades mínima y máxima

### Paso 7. Para cada combinación de ocupación y sexo, calcule la edad media

### Paso 8.  Para cada ocupación, presente el porcentaje de mujeres y hombres