# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [10]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [11]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [12]:
chipo = pd.read_csv(url, sep='\t')

In [13]:
# chipo_copia = chipo.copy()

In [14]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [15]:
precios_unicos = chipo[chipo['quantity'] == 1]

In [22]:
precios_unicos.loc[:,'item_price'] = precios_unicos.loc[:,'item_price'].replace('[$,]', '', regex=True)
valor_max = precios_unicos['item_price'].max()
item_max_valor = precios_unicos[precios_unicos['item_price'] == valor_max]['item_name'].iloc[0]
print(valor_max)
print(item_max_valor)

11.89
Steak Salad Bowl

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [ ]:
len(chipo[chipo['item_price'] >= 10.0].value_counts())

1116

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [ ]:
chipo.groupby('item_name')['item_price'].unique()

item_name
6 Pack Soft Drink                                                            [6.49, 12.98]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                     [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                            [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                           [22.2, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                             [2.18, 1.09, 4.36]
Canned Soft Drink                                                   [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                               [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                             [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                           [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                          [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                               [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                               [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                          [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                              [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                          [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                      [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                            [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                         [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                     [2.39, 4.78, 7.17]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                              [3.39, 6.78]
Salad                                                                                [7.4]
Side of Chips                                                          [1.69, 5.07, 13.52]
Steak Bowl                               [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                            [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                        [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                      [23.78, 11.89, 9.39]
Steak Soft Tacos                                          [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                              [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                           [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                               [11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object

### Paso 6. Ordenar por el nombre del artículo

In [ ]:
chipo['item_name'].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [46]:
chipo[chipo['item_name'] == item_max_valor].shape[0]

29

In [47]:
len(chipo[chipo['item_name'] == item_max_valor])

29

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [50]:
len(chipo[chipo['item_name'] == 'Veggie Salad'])

6

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [55]:
chipo[(chipo['item_name'] == '6 Pack Soft Drink') &( chipo['quantity'] > 1)]

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98