# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [61]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [62]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [63]:
chipo = pd.read_csv(url, sep='\t')

In [64]:
# chipo_copia = chipo.copy()

In [65]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [66]:
chipo['item_price'] = chipo['item_price'].str.replace('$','')

In [67]:
chipo['item_price'] = chipo['item_price'].str.strip().astype('float')

In [68]:
unicos = chipo[(chipo['quantity']==1)]
unicos[unicos['item_price']==unicos['item_price'].max()].drop_duplicates('item_name')

,order_id,quantity,item_name,choice_description,item_price
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89

In [69]:
chipo['item_price'].max()

np.float64(44.25)

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [70]:
chipo['item_price'] = chipo['item_price'].replace('[$,]', '', regex=True).astype(float)

In [71]:
chipo[(chipo['item_price'] >= 10) & (chipo['quantity'] == 1)].nunique().loc['item_name']

np.int64(25)

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [72]:
precio_ca = unicos.drop_duplicates('item_name')
precio_ca.groupby('item_name')['item_price'].unique()

item_name
6 Pack Soft Drink                         [6.49]
Barbacoa Bowl                            [11.75]
Barbacoa Burrito                          [8.99]
Barbacoa Crispy Tacos                    [11.75]
Barbacoa Salad Bowl                      [11.89]
Barbacoa Soft Tacos                       [9.25]
Bottled Water                             [1.09]
Bowl                                       [7.4]
Burrito                                    [7.4]
Canned Soda                               [1.09]
Canned Soft Drink                         [1.25]
Carnitas Bowl                             [8.99]
Carnitas Burrito                          [8.99]
Carnitas Crispy Tacos                     [9.25]
Carnitas Salad                            [8.99]
Carnitas Salad Bowl                      [11.89]
Carnitas Soft Tacos                       [9.25]
Chicken Bowl                             [10.98]
Chicken Burrito                           [8.49]
Chicken Crispy Tacos                      [8.75]
Chicken Salad                            [10.98]
Chicken Salad Bowl                        [8.75]
Chicken Soft Tacos                        [8.75]
Chips                                     [2.15]
Chips and Fresh Tomato Salsa              [2.39]
Chips and Guacamole                       [4.45]
Chips and Mild Fresh Tomato Salsa          [3.0]
Chips and Roasted Chili Corn Salsa        [2.95]
Chips and Roasted Chili-Corn Salsa        [2.39]
Chips and Tomatillo Green Chili Salsa     [2.95]
Chips and Tomatillo Red Chili Salsa       [2.95]
Chips and Tomatillo-Green Chili Salsa     [2.39]
Chips and Tomatillo-Red Chili Salsa       [2.39]
Crispy Tacos                               [7.4]
Izze                                      [3.39]
Nantucket Nectar                          [3.39]
Salad                                      [7.4]
Side of Chips                             [1.69]
Steak Bowl                                [8.99]
Steak Burrito                            [11.75]
Steak Crispy Tacos                        [9.25]
Steak Salad                               [8.99]
Steak Salad Bowl                         [11.89]
Steak Soft Tacos                          [9.25]
Veggie Bowl                              [11.25]
Veggie Burrito                           [11.25]
Veggie Crispy Tacos                       [8.49]
Veggie Salad                              [8.49]
Veggie Salad Bowl                        [11.25]
Veggie Soft Tacos                        [11.25]
Name: item_price, dtype: object

In [73]:
unicos.groupby('item_name')['item_price'].unique()

item_name
6 Pack Soft Drink                                                              [6.49]
Barbacoa Bowl                                 [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                              [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                      [11.75, 9.25, 11.48, 8.99]
Barbacoa Salad Bowl                                                     [11.89, 9.39]
Barbacoa Soft Tacos                                        [9.25, 8.99, 11.75, 11.48]
Bottled Water                                                             [1.09, 1.5]
Bowl                                                                            [7.4]
Burrito                                                                         [7.4]
Canned Soda                                                                    [1.09]
Canned Soft Drink                                                              [1.25]
Carnitas Bowl                                       [8.99, 11.75, 9.25, 11.48, 11.08]
Carnitas Burrito                              [8.99, 9.25, 11.75, 11.48, 11.08, 8.69]
Carnitas Crispy Tacos                                             [9.25, 11.75, 8.99]
Carnitas Salad                                                                 [8.99]
Carnitas Salad Bowl                                                     [11.89, 9.39]
Carnitas Soft Tacos                                               [9.25, 8.99, 11.75]
Chicken Bowl                             [10.98, 11.25, 8.75, 8.49, 8.19, 10.58, 8.5]
Chicken Burrito                               [8.49, 10.98, 8.75, 11.25, 10.58, 8.19]
Chicken Crispy Tacos                                       [8.75, 11.25, 8.49, 10.98]
Chicken Salad                                                     [10.98, 8.49, 8.19]
Chicken Salad Bowl                                                      [8.75, 11.25]
Chicken Soft Tacos                                         [8.75, 11.25, 8.49, 10.98]
Chips                                                                    [2.15, 1.99]
Chips and Fresh Tomato Salsa                                       [2.39, 2.95, 2.29]
Chips and Guacamole                                           [4.45, 3.99, 4.0, 3.89]
Chips and Mild Fresh Tomato Salsa                                               [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95]
Chips and Roasted Chili-Corn Salsa                                             [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95]
Chips and Tomatillo Red Chili Salsa                                            [2.95]
Chips and Tomatillo-Green Chili Salsa                                          [2.39]
Chips and Tomatillo-Red Chili Salsa                                            [2.39]
Crispy Tacos                                                                    [7.4]
Izze                                                                           [3.39]
Nantucket Nectar                                                               [3.39]
Salad                                                                           [7.4]
Side of Chips                                                                  [1.69]
Steak Bowl                                    [8.99, 11.75, 11.48, 9.25, 11.08, 8.69]
Steak Burrito                                 [11.75, 9.25, 8.99, 11.48, 11.08, 8.69]
Steak Crispy Tacos                                          [9.25, 8.99, 8.69, 11.75]
Steak Salad                                                              [8.99, 8.69]
Steak Salad Bowl                                                        [11.89, 9.39]
Steak Soft Tacos                                           [9.25, 8.99, 11.75, 11.48]
Veggie Bowl                                                [11.25, 8.49, 8.75, 10.98]
Veggie Burrito                                             [11.25, 8.49, 10.98, 8.75]
Veggie Crispy Tacos                                                            [8.49]
Veggie Salad                                                                   [8.49]
Veggie Salad Bowl                                                       [11.25, 8.75]
Veggie Soft Tacos                                                 [11.25, 8.75, 8.49]
Name: item_price, dtype: object

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [75]:
chipo[chipo['item_name'] == 'Carnitas Salad Bowl'].shape[0]

6

In [76]:
len(chipo[chipo['item_name'] =='Carnitas Salad Bowl'])

6

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [17]:
len(chipo[chipo['item_name'] == 'Veggie Salad'])

6

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [77]:
len(chipo[(chipo['item_name'].str.contains('[Ss]oda'))
        & ( chipo['quantity'] > 1)])

20